    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="/">PasteBin</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Hi, {{user.first_name}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'mypastes' %}">My Pastes</a>
              </li>
              <li class="nav-item" style="float:left;align:right;">
                  <a class="nav-link" href="{% url 'logout'%}">Logout</a>
              </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </nav>