{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-8">
            {% if paste_edit_success == "success" %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong> Paste changed successfully
                </div>
            {% elif paste_edit_success == "failure" %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> Paste was not updated
                </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <div class="details" style="display:flex;align-items:flex-start;">
                        <i class='fas fa-user-circle' style='font-size:60px;color:grey'></i>
                        <div class="details-body px-2">
                            {% if paste.title %}
                            <h5>{{paste.title}}</h5>
                            {% else %}
                                <h5>Untitled</h5>
                            {% endif %}

                             <p class="other-details text-muted small">
                                {% if paste.user is None %}
                                    <i class='fas fa-user-circle'></i> Guest
                                {% else %}
                                    <i class='fas fa-user'></i> {{paste.user.username}}
                                {% endif %}
                                 <i class="fa fa-eye ml-2"></i> {{paste.views}}
                                 <i class="fa fa-calendar ml-2"></i> {{paste.created_at}}
                             </p>
                        </div>
                    </div>
                    <div class="card my-3">
                        <div class="card-header" style="font-weight:600;">
                            {{paste.syntax | upper}}
                            <div class="options d-inline" style="float:right;">
                                <a href="{% url 'rawpaste' paste.slug %}"><button class="option-buttons">raw</button></a>
                                <a href="{% url 'downloadpaste' paste.slug %}"><button class="option-buttons">download</button></a>
                                <a href="{% url 'clonepaste' paste.slug %}"><button class="option-buttons">clone</button></a>
                                <a href="#"><button class="option-buttons">print</button></a>
                                <a href="#"><button class="option-buttons">report</button></a>
                            </div>
                        </div>
                        <div class="card-body small">
                            <pre class="line-numbers"><code class="language-{{paste.syntax | lower}}">{{paste.content}}</code></pre>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" style="font-weight:600;">
                            Raw Data
                        </div>
                        {% if can_be_edited %}
                            <div class="card-body">
                                <form method="POST" action="{% url 'pastes' paste.slug %}">
                                    <textarea class="form-control" name="content">
                                        {{paste.content}}
                                    </textarea>
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-sm mt-3" type="submit">Update</button>
                                </form>
                            </div>

                        {% else %}
                            <div class="card-body">
                                <textarea class="form-control">
                                    {{paste.content}}
                                </textarea>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
           <div class="col-sm-4 mt-4  mt-sm-0">
         <div class="card">
                <div class="card-header bg-dark text-white">
                    Recent Posts
                </div>
                <div>
                     <ul class="list-group"></ul>
                             {% for paste in recent_pastes %}
                                <li class="list-group-item">
                                    <a href="/pastes/{{paste.slug}}">
                                        <h6>
                                            {% if paste.title %}
                                                {{paste.title | title}}
                                            {% else %}
                                                Untitled
                                            {% endif %}
                                        </h6>
                                    </a>
                                    <small class="paste-detail pt-1 d-block">
                                        {{paste.syntax | title}}
                                        <i class="fa fa-eye ml-2"></i> {{paste.views}}
                                        <i class="fa fa-calendar ml-2"></i> {{paste.created_at}}
                                    </small>
                                </li>
                             {% endfor %}
                     </ul>
                </div>
            </div>
            </div>
    </div>

</div>

{% endblock %}

