{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h4>Sign Up</h4>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                     <form method="POST" action="signup">
                        {%csrf_token%}
                        <div class="form-group">
                            <label for="title">Username</label>
                            {{form.username}}
                        </div>
                         <div class="form-group">
                            <label for="expiry">Email</label>
                            {{form.email}}
                        </div>
                        <div class="form-group">
                            <label for="content">Password</label>
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            <label for="syntax">Confirm Password</label>
                            {{form.password2}}
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

{%endblock%}