{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:20px;">

    <div class="row">
        <div class="col-sm-8">
            {% if register_success == "success" %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Success!</strong> Registered successfully
                </div>
            {% elif register_success == "failure" %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> Sign up failed
                </div>
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h4>Sign Up</h4>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                     <form method="POST" action="signup">
                        {%csrf_token%}
                         {% for field in form %}
                          <div class="form-group">
                            <label for="title">{{field.label}}</label>
                            {{field}}
                        </div>
                         {% endfor %}

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

{%endblock%}